create database [COFFE_HIGHLAND1]
USE [COFFE_HIGHLAND1]
GO
/****** Object:  StoredProcedure [dbo].[GetThucDon]    Script Date: 11/19/2019 5:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetThucDon]
as
	select * from ThucDon

GO
/****** Object:  StoredProcedure [dbo].[GetThucDons]    Script Date: 11/19/2019 5:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetThucDons](@start int , @end int)
as
	select * from (select ROW_Number() over(order by MaMon)as SrNo ,ThucDon.* from ThucDon
				join LoaiMon on LoaiMon.MaLoaiMon=ThucDon.MaLoaiMon) as tbl
	where SrNo between @start and @end
	return (select count(*) from ThucDon);

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/19/2019 5:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[UserAdmin] [varchar](30) NOT NULL,
	[PassAdmin] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/19/2019 5:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Dongia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 11/19/2019 5:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[DaThanhToan] [bit] NULL,
	[TinhTrangGiaoHang] [bit] NULL,
	[NgayGiao] [datetime] NULL,
	[NgayDat] [datetime] NULL,
	[MaKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/19/2019 5:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DienThoai] [varchar](50) NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nchar](10) NULL,
 CONSTRAINT [PK_KhachHang_1] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 11/19/2019 5:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoaiMon] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiMon] [nvarchar](64) NOT NULL,
	[MoTa] [nvarchar](512) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThucDon]    Script Date: 11/19/2019 5:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucDon](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiMon] [int] NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[Gia] [money] NULL,
	[Hinh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 11/19/2019 5:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTin] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](2000) NULL,
	[AnhTinTuc] [nvarchar](max) NULL,
	[NgayDang] [date] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrachNhiemCongDong]    Script Date: 11/19/2019 5:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrachNhiemCongDong](
	[MaTNCD] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](2000) NULL,
	[AnhTinTuc] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [HoTen]) VALUES (N'admin', N'123', N'Lý Xuân Thành')
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [HoTen]) VALUES (N'user', N'123', N'Trang Cute')
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaMon], [SoLuong], [Dongia]) VALUES (1, 1, 4, CAST(29000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaMon], [SoLuong], [Dongia]) VALUES (1, 9, 2, CAST(49000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaMon], [SoLuong], [Dongia]) VALUES (2, 18, 1, CAST(19000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDonHang], [DaThanhToan], [TinhTrangGiaoHang], [NgayGiao], [NgayDat], [MaKH]) VALUES (1, 0, 0, CAST(N'2019-11-05 00:00:00.000' AS DateTime), CAST(N'2019-11-18 14:16:17.073' AS DateTime), 1)
INSERT [dbo].[DonDatHang] ([MaDonHang], [DaThanhToan], [TinhTrangGiaoHang], [NgayGiao], [NgayDat], [MaKH]) VALUES (2, 0, 0, NULL, CAST(N'2019-11-18 14:43:30.020' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (2, N'ga', CAST(N'2019-11-13 00:00:00.000' AS DateTime), NULL, N'12412125', N'aa', N'123', NULL, N'12fqqư    ')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (7, N'ấgága', CAST(N'2019-11-05 00:00:00.000' AS DateTime), NULL, N'12521512', N'ahaha', N'123', NULL, N'qưdưqfqư  ')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (8, N'Lý Xuân Thành', CAST(N'2019-11-13 00:00:00.000' AS DateTime), NULL, N'2145325235', N'advgb', N'123', NULL, N'afaawàqừ  ')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiMon] ON 

INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon], [MoTa]) VALUES (1, N'Freeze', N'Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức uống đá xay mát lạnh được pha chế từ cà phê Việt, trà xanh, sô cô la hay các loại trái cây đặc trưng của Việt Nam')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon], [MoTa]) VALUES (2, N'Cà phê', N'Sự kết hợp hoàn hảo giữa hạt cà phê Robusta &amp; Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon], [MoTa]) VALUES (3, N'Trà', N'Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.')
SET IDENTITY_INSERT [dbo].[LoaiMon] OFF
SET IDENTITY_INSERT [dbo].[ThucDon] ON 

INSERT [dbo].[ThucDon] ([MaMon], [MaLoaiMon], [TenMon], [MoTa], [Gia], [Hinh]) VALUES (1, 1, N'Phin Sữa Đá', N'Hương vị cà phê Việt Nam đích thực! Từng hạt cà phê hảo hạng được chọn bằng tay, phối trộn độc đáo giữa hạt Robusta từ cao nguyên Việt Nam, thêm Arabica thơm lừng. Cà phê được pha từ Phin truyền thống, hoà cùng sữa đặc sánh và thêm vào chút đá tạo nên ly Phin Sữa Đá – Đậm Đà Chất Phin.', 29000.0000, N'phin-sua-da.png')
INSERT [dbo].[ThucDon] ([MaMon], [MaLoaiMon], [TenMon], [MoTa], [Gia], [Hinh]) VALUES (3, 1, N'Phin Đen Nóng', N'Hương vị cà phê Việt Nam đích thực! Từng hạt cà phê hảo hạng được chọn bằng tay, phối trộn độc đáo giữa hạt Robusta từ cao nguyên Việt Nam, thêm Arabica thơm lừng. Kết hợp với nước sôi từng giọt cà phê được chiết xuất từ Phin truyền thống, hoà cùng sữa đặc sánh tạo nên ly Phin Sữa Nóng – Đậm đà chất Phin.', 29000.0000, N'phin-sua-nong.png')
INSERT [dbo].[ThucDon] ([MaMon], [MaLoaiMon], [TenMon], [MoTa], [Gia], [Hinh]) VALUES (4, 1, N'Phin Sữa Nóng', N'Hương vị cà phê Việt Nam đích thực! Từng hạt cà phê hảo hạng được chọn bằng tay, phối trộn độc đáo giữa hạt Robusta từ cao nguyên Việt Nam, thêm Arabica thơm lừng. Kết hợp với nước sôi từng giọt cà phê được chiết xuất từ Phin truyền thống, hoà cùng sữa đặc sánh tạo nên ly Phin Sữa Nóng – Đậm đà chất Phin.', 29000.0000, N'phin-sua-nong.png')
SET IDENTITY_INSERT [dbo].[ThucDon] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([MaTin], [TieuDe], [NoiDung], [AnhTinTuc], [NgayDang]) VALUES (4, N'TẾT SEN VÀNG, XUÂN GIÒN CHUYỆN', N'“Ly trà là đầu câu chuyện”. Để khai xuân như ý, những câu chuyện đầu năm phải thật rôm rả bên người thương yêu. Trà Sen Vàng - Rộn Ràng chuyện đầu năm', N'tin4.png', CAST(N'2019-01-16' AS Date))
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
SET IDENTITY_INSERT [dbo].[TrachNhiemCongDong] ON 

SET IDENTITY_INSERT [dbo].[TrachNhiemCongDong] OFF
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonDatHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CHITIETDONHANG]
GO
ALTER TABLE [dbo].[ThucDon]  WITH CHECK ADD  CONSTRAINT [FK_MaLoaiMon] FOREIGN KEY([MaLoaiMon])
REFERENCES [dbo].[LoaiMon] ([MaLoaiMon])
GO
ALTER TABLE [dbo].[ThucDon] CHECK CONSTRAINT [FK_MaLoaiMon]
GO
